.loader-dot {
    width: 15px;
    height: 15px;
    margin: 0 10px;
    border-radius: 50%;
    background-color: #a9c299;
    animation: bounce 0.5s ease-in-out infinite;
  } 
  .loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 84px;
   /*  height: 100%; */
  }
  .loader-dot:nth-child(1) {
    animation-delay: 0.1s;
  }
  
  .loader-dot:nth-child(2) {
    animation-delay: 0.2s;
  }
  
  .loader-dot:nth-child(3) {
    animation-delay: 0.3s;
  }
  
  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
