.numeroContador{
    color: white;
    padding: 7px 8px;
    font-size: 2rem;
    border-radius: 6px;
    margin-right: 2px;
    margin-left: 2px;
}

.separator{
    font-size: 2rem;
    padding: 20px 5px;
}
