.header{
    padding: 14px 0px;
    width: 100%;
    display: flex;
    gap: 10px;
}

.space-between{
    justify-content: space-between;
}

.align-end{
    justify-content: end;
}

.btn-header{
    border: none;
    cursor: pointer;
    font-size: .7rem;
    height: 25px;
    width: 60px;
    border-radius: 22px;
    /* padding: 6px 18px; */
   
    background-color: white;
    border: 2px solid #a9c299;
    color: #a9c299;
    transition: .3s;
}

.header a{
    font-size: 1rem;
}

.btn-login:active{
    transform: scale(.9);
}